body {
    background-color:white;
}

form {
    margin: 100px auto 0;
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    text-align: center;
}

h1 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

p {
    width: inherit;
    margin: 5px 0;
    color: #999;
} 
button {
    display: block;
    width: inherit;
    font-size: 14px;
}
input {
    display: block;
    width: inherit;
    padding: 2px;
    background: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    font-size: 14px;
}
