h1 {
    color: green;
}
table, th, td{
    border: 1px solid green;
}
th {
    background-color: green;
    color: white;
}
td {
    color: green;
}
/*div {
    box-shadow: 1px 1px 1px 1px #aaaaaa;
    max-width: 600px;
    margin: 32px auto;
    padding: 40px;

}*/

